html,body{
	height: 99%;
	width: 99%;
	background-color: lavender;
}
.banner{
	
	position:right;
	right:100px;
	background-color: rgb(120, 101, 130);
	border: 3px solid #a3c1ad;
	outline: 10px 10px #270f33 groove;
	text-transform: capitalize;
	text-shadow: 1px 1px #270f33 ;
	font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
	text-align: right;
	font-style: oblique;
}
.menu{
	list-style-type: none;
	float:left;
	position: absolute;
	left: 20px;
	background-color: #a3c1ad;
	border-style: none;
	font-family: "Lato", sans-serif;
	font-weight: 400;
  font-style: normal;
  text-align: center;
  font-style: oblique;
	}
	a:link {
   color: rgb(145, 23, 139);
	}
	
	a:visited {
	  color: dimgrey;
	}
	
	a:hover {
	 color: rgb(189, 131, 218)
	}
	
	a:active {
	  color: rgb(92, 195, 255);
	}
.container{
border-color: aliceblue;
border-style: dotted;
border-width: 2px;
background: linear-gradient(358deg, #ad9fd2, #7ce1e1);
background-size: 400% 400%;

animation: AnimationNam
e1 30s ease infinite;
}

@keyframes AnimationName1 {
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}